<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../public/css/login.css">
    <title>Login</title>
</head>
<body>
        

    <div class="container">
            <div class="sec">
                    <div class="leftexp">
                     <h1>GESTICK</h1>
            </div>
        <div class="bloc">
         <div class="section">
            <fieldset>   
             <legend>Saisissez vos Identifiants</legend>
             <div class="champ">
                 <label for="nom">Identifiant</label>
             </div> 
             <div><label for="mdp">Mot de passe</label></div>
             <div><input type="submit" value="LOGIN"></div>
            </fieldset> 
         </div>
        </div>
    </div>
</body>
</html>
